import { render } from '@redwoodjs/testing/web'
import { getPropsMocker } from 'src/lib/mock-helpers'

import ${pascalName}Page from './${pascalName}Page'

export const mockProps = getPropsMocker({
  // Add props not covered by included in mock defaults here
})

describe(${pascalName}Page.name, () => {
  it('renders successfully', () => {
    expect(() => {
      render(<${pascalName}Page {...mockProps()} ${propValueParam} />)
    }).not.toThrow()
  })
})
