import { render, screen } from '@redwoodjs/testing/web'
import { getPropsMocker } from 'src/lib/mock-data'
import { Loading, Empty, Failure, Success } from './${pascalName}Cell'

export const mockProps = getPropsMocker({
  // Add props not covered by included in mock defaults here
})

describe('Cell', () => {
  it('renders Loading successfully', () => {
    expect(() => {
      render(<Loading />)
    }).not.toThrow()
  })

  it('renders Empty successfully', async () => {
    expect(() => {
      render(<Empty />)
    }).not.toThrow()
  })

  it('renders Failure successfully', async () => {
    expect(() => {
      render(<Failure error={new Error('Oh no')} />)
    }).not.toThrow()
  })

  // When you're ready to test the actual output of your component render
  // you could test that, for example, certain text is present:
  //
  // 1. import { screen } from '@redwoodjs/testing/web'
  // 2. Add test: expect(screen.getByText('Hello, world')).toBeInTheDocument()

  it('renders Success successfully', async () => {
    expect(() => {
      render(<Success {...mockProps()} />)
    }).not.toThrow()
  })
})
